body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
}

textarea {
  resize: none;
}

.content-wrapper {
  display: flex;
  justify-content: center;
}

.content-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  row-gap: 2rem;
  max-width: 40rem;
}

.form-wrapper {
  width: 100%;
}

.form-content {
  display: flex;
  flex-direction: column;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.form-input-title {
  font-size: 1.2rem;
}

button {
  border: solid 0.1rem black;
  border-radius: 0.3rem;
  padding: 0.3rem 1rem;
  cursor: pointer
}

button:hover {
  background-color: rgba(200, 200, 200, 0.7);
}

button:active {
  background-color: rgb(60, 60, 60, 0.4);
}

.submit-container {
  padding-top: 1rem;
}

.tasks {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border: solid 0.1rem rgba(100, 100, 100, 0.7);
  background-color: rgba(220, 220, 220, 0.5);
  padding: 1rem;
  border-radius: 0.5rem;
}

.tasks-title {
  align-self: center;
}

.task {
  border: solid 0.1rem rgba(100, 100, 100, 0.7);
  background-color: rgba(200, 200, 200, 0.6);
  padding: 1rem;
  border-radius: inherit;
}

.task-actions {
  display: flex;
  column-gap: 0.5rem;
}

.task-edit-form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.search-filter {
  display: flex;
  flex-direction: column;
}